{% extends 'base.html.twig' %}

{% block title %}Run/Walk 812 Routes{% endblock %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('homepage') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('homepage') }}
    {% endblock %}

    <section class="py-5">
        <h1 class="fw-light text-center">Filter Routes</h1>
        <div class="container">
            <hr />
            <div class="row">
                <div class="mb-5 col-md-4 col-sm-12">
                    <p class="form-label fw-bold">Location</p>
                    {% for location in locations %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="{{ location.uuid }}" name="locations" value="{{ location.title }}">
                            <label class="form-check-label" for="{{ location.uuid }}" data-filter="{{ location.title }}">{{ location.title }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-5 col-md-4 col-sm-12">
                    <label for="routeNameSearch" class="form-label fw-bold">Name</label>
                    <input type="text" class="form-control" id="routeNameSearch">
                </div>
                <div class="col-md-4 col-sm-12">
                    <label for="distanceSearch" class="form-label fw-bold">Distance</label>
                    <input type="text" class="form-control" data-min={{ minDistance.0.distance }} data-max={{ maxdistance.0.distance }} id="distanceSearch">
                </div>
            </div>
        </div>

    </section>

    {% if scheduledRoute is not empty %}
        <section class="py-2">
            <div class="alert alert-danger container text-center" role="alert">
                    Hey! Please consider joining us on our {{ scheduledRoute.datetime|date('l') }} route on {{ scheduledRoute.datetime|date('F j \\a\\t g:i a') }}.
                    <a href="{{ path('route_scheduled') }}" class="alert-link">View {{ scheduledRoute.datetime|date('l') }} Route</a>
            </div>
        </section>
    {% endif %}

    <div class="py-5 bg-light">
        <div class="container">
            <div id="routeContainer" class="row gy-3 grid">
                {% set routeCollectionName = '' %}

                {% for route in routes %}
                    {% if route.routeCollections is empty %}
                        <div class="grid-item col-md-4 col-sm-12"
                             data-locations="{{ route.getFlatLocations }}"
                             data-name="{{ route.name }}"
                             data-distance="{{ route.distance }}"
                             data-slug="{{ route.slug }}"
                             data-geojson-path="{{ path('route_geojson', {slug: route.slug}) }}"
                        >
                            <div class="card h-100">
                                <div class="card-header">
                                    <span class="fw-bold">{{ route.name }}</span>
                                </div>
                                <img class="card-img-top h-auto" src="{{ asset('/routes/' ~ route.id ~ '.webp') }}" width="350" height="200" alt="{{ route.name }}" />

                                <div class="card-body">

{#                                    <p id="map-{{ route.slug }}" class="maps text-center">#}
{#                                        <img class="img-fluid img-thumbnail map-thumbnails" src="{{ asset('/routes/' ~ route.id ~ '.png') }}" alt="{{ route.name }}" />#}
{#                                    </p>#}
                                    <p><strong>Distance</strong></p>
                                    <p>
                                        <a href="{{ path('route_view', {'slug': route.slug}) }}" class="btn btn-primary mt-1">{{ route.distance }}</a>
                                    </p>
                                    <p><strong>Locations</strong></p>
                                    <p>
                                        {% for location in route.locations %}
                                            <span class="badge bg-secondary mt-1">{{ location.title }}</span>
                                        {% endfor %}
                                    </p>
                                    <a href="{{ path('route_view', {'slug': route.slug}) }}" class="btn btn-primary d-block text-center">View Route</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% set routeCollection = route.routeCollections.0 %}
                        {% if routeCollectionName != routeCollection.name %}
                            <div class="grid-item col-md-4 col-sm-12"
                                 data-locations="{{ routeCollection.locations|join(', ') }}"
                                 data-name="{{ routeCollection.name }}"
                                 data-distance="{{ routeCollection.distances|join(', ') }}"
                                 data-slug="{{ route.slug }}"
                                 data-geojson-path="{{ path('route_geojson', {slug: route.slug}) }}"
                            >
                                <div class="card h-100">
                                    <div class="card-header">
                                        <span class="fw-bold">{{ routeCollection.name }}</span>
                                    </div>
                                    <img class="card-img-top h-auto" src="{{ asset('/routes/' ~ route.id ~ '.webp') }}" width="350" height="200" alt="{{ route.name }}" />

                                    <div class="card-body">
{#                                        <p id="map-{{ route.slug }}" class="maps text-center">#}
{#                                            <img class="img-fluid img-thumbnail map-thumbnails" src="{{ asset('/routes/' ~ route.id ~ '.png') }}" alt="{{ route.name }}" />#}
{#                                        </p>#}
                                        <p><strong>Distances</strong></p>
                                        <p>
                                            {% for routeItem in routeCollection.routes %}
                                                <a href="{{ path('route_view', {'slug': route.slug}) }}" class="btn btn-primary mt-1">{{ routeItem.distance }}</a>
                                            {% endfor %}
                                        </p>
                                        <p><strong>Locations</strong></p>
                                        <p>
                                            {% for location in routeCollection.locations %}
                                                <span class="badge bg-secondary mt-1">{{ location }}</span>
                                            {% endfor %}
                                        </p>
                                        <a href="{{ path('route_view', {'slug': routeCollection.slug}) }}" class="btn btn-primary text-center d-block">View Route</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% set routeCollectionName = routeCollection.name %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>

{#    {% if closestSaturday is not empty %}#}
{#        <div id="saturdayModal" data-bs-backdrop="static" class="modal" tabindex="-1" role="dialog">#}
{#            <div class="modal-dialog modal-dialog-centered" role="document">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title">Saturday Route</h5>#}
{#                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <p>Hey! Please consider joining us for our Saturday route on {{ closestSaturday|date('F j') }}.</p>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <a href="{{ path('route_saturday') }}" type="button" class="btn btn-primary">View Saturday Route</a>#}
{#                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{% endblock %}