{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('route-view') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('route-view') }}
    {% endblock %}

    <div class="d-flex">
        <div id="collapse-sidebar" class="collapse show">
            <div class="card overflow-scroll sidebar">
                <div class="card-header text-center">
                    <h5 class="fw-bold">{{ route.name }}</h5>
                    <h6 class="card-subtitle text-muted">Please select one of the routes below</h6>
                </div>
                <div class="card-body">
                    <strong>Distance(s)</strong>
                    <ul class="list-group mb-5">
                        {% if route.routeCollections is not empty %}
                            {% for routeItem in route.routeCollections.0.routes %}
                                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {{ route == routeItem ? 'active' : '' }}" href="{{ path('route_view', {'slug': routeItem.slug}) }}">
                                    {{ routeItem.distance }}
                                </a>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                {{ route.distance }}
                            </li>
                        {% endif %}
                    </ul>

                    <div class="list-group mb-5">
                        <a href="{{ path('route_pdf', {slug: route.slug}) }}" type="button" class="list-group-item list-group-item-action active" aria-current="true">
                            Print {{ route.distance }} Cuesheet
                        </a>
                    </div>

                    <h5 class="card-title">Cuesheet</h5>
                    <div class="list-group list-group-flush ps-0">
                        {% set coursePoints = route.jsonRoute.route.course_points %}
                        {% for cue in coursePoints %}
                            {% if coursePoints[(loop.index0-1)] is defined %}
                                {% set cum = cue.d - coursePoints[(loop.index0-1)].d %}
                            {% else %}
                                {% set cum = 0 %}
                            {% endif %}
                            <div class="list-group-item d-flex direction" data-latitude="{{ cue.x }}" data-longitude="{{ cue.y }}" data-directions="{{ cue.n }}">
                                <div class="flex-shrink-1">
                                    <span class="badge bg-primary">{{ cue.t }}</span>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    {{ cue.n }}
                                </div>
                                <div class="flex-shrink-1">
                                    <span class="badge text-bg-light">{{ (cum/1609)|round(2) }}mi</span>
                                </div>
                                <div class="flex-shrink-1">
                                    <span class="badge text-bg-dark">{{ (cue.d/1609)|round(2) }}mi</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

{#                    <h5 class="card-title mt-5">Safety</h5>#}
{#                    <h5 class="card-title mt-5">Lit</h5>#}
{#                    <h5 class="card-title mt-5">Bathrooms</h5>#}
{#                    <h5 class="card-title mt-5">Hills</h5>#}
{#                    <h5 class="card-title mt-5">Flat</h5>#}
{#                    <h5 class="card-title mt-5">Comments</h5>#}
                </div>

            </div>
        </div>

        <div id="map" data-geojson-path="{{ path('route_geojson', {slug: route.slug}) }}"></div>

    </div>
{% endblock %}